<strong>Olá, {{ student }}</strong>
<p>Obrigado por fazer sua Matrícula, confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data término: </strong> {{ end_date }} <br />
  <strong>Valor total: </strong> {{ price }} <br />
  <br />
  <p>Seja bem vindo!</p>
  <small>
    A vida é muito mais do que apenas treinar, mas treinar é algo que adiciona mais em sua vida.
  </small>
</p>