<strong>Olá, {{ student }}</strong>
<p>Confira abaixo a resposta de sua pergunta:</p>
<p>
    <strong>Pergunta: </strong> {{ question }} <br />
    <strong>Resposta: </strong> {{ answer }} <br />
</p>